{% load static %}
{% load django_bootstrap5 i18n %}
    <div class="modal-body" id="form-modal-body">
        <form method="post" action='{{ request.get_full_path }}' class="post-form" id="form-modal">
        {% csrf_token %}
        <div class="modal-header">
            <h4 class="modal-title">{% trans 'Confirm manager add' %}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Close' %}" id="bt_close_add_manager_modal"></button>
        </div>
        <div class="modal-body">
            <div id="pnl_faculty_adviser_off">
            </div>
            <br>
            <div id="pnl_faculty_adviser_on">
                {% bootstrap_field form.adviser %}
            </div>
        </div>
        </form>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="bt_cancel_remove_manager_modal">{% trans 'Cancel' %}</button>
    <input type="submit" id='add_faculty_adviser'class="btn btn-primary" onclick="$('#form-modal').submit();" value="{% trans 'Save' %}"/>
</div>
{{ form.media }}
